@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

.container{
    min-width: 1280px;
    margin: 0 auto;
    // border: 1px solid red;
}

*{
    text-decoration: none;
    list-style: none;
    margin: 0 ;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

@media only screen and (max-width:768px){
    body{
        max-width: 767px;
    }
    .container{
        max-width: 767px;
    }
}
@media only screen and (max-width:375px){
    body{
        max-width: 374px;
    }
    .container{
        max-width: 374px;
    }
}