@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

.container{
    min-width: 1280px;
    margin: 0 auto;
    padding: 0px;
     /* border: 1px solid red; */
}

*{
    text-decoration: none;
    list-style: none;
    margin: 0 ;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.header{
    position: fixed;
    width: 100%;    
    background: #232536;
    padding-top: 11px;
    padding-bottom: 11px;
    /* margin-bottom: 10px; */
}
.fa-solid{
    display: none;
}
.header__nav{
        padding: -0px;
        width: 1280px;
        align-items: center;
    }
.header__nav img{
        margin-right:621px;
    }
.header__navigation{
        padding-top: 10px;
        margin-right: 83px;
    }
    .header__navigation ul{
        width: 285px;
        height: 29px;
        padding-left: -0px;
        justify-content: space-between;
    }

    .header__navigation ul li a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }
    .header__navigation ul li a:hover{
        color: rgb(145, 134, 134);
        transition-duration: 1s;
    }
.header__nav-log{
        padding: 16px 48px;
        background: #FFFFFF;
    }
.header__nav-log a{
        font-family: 'Sen';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;   
        display: flex;
        align-items: center;
        color: #232536;
    }
.header__nav-log:hover{
        transition-duration: 1s;
        background-color: rgb(145, 134, 134);
        color: #ffffff;
}


.footer{
    padding-top: 54px;
    padding-bottom: 54px;
    background: #232536;
}
.footer__con{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__left p{
    margin-bottom: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;       
    opacity: 0.7;
}
.footer__right li{
    width: 144px;
}
.footer__right i{
    color: #6D6E76;
     padding-right: 10px;
}
.footer__right i:hover{
    transition-duration: 0.7s;
    color: #FFFFFF;
    opacity: 0.8;
}

.hero{
    padding-top: 56px;
    padding-bottom: 60px;
}
.description{
    padding-bottom: 128px;
}
.description-con{
    width: 843px;
    margin: 0 auto;
}
.user{
    margin-bottom: 24px;
    width: 316px;
    height: 64px;
    display: flex;
}
.user  img{
    margin-right: 17.25px;
}
.user h3{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;  
    letter-spacing: -1px;   
    color: #592EA9;  
    opacity: 0.87;
}
.user  p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;  
    margin-top: -10px;
}
.description-bot h2{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;  
    color: #232536;
    margin-bottom: 34px;
}
.description-bot h4{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232536;
    margin-bottom: 62px;
}
.description-bot p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 837px;
    color: #6D6E76;
}


