@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

.container{
    min-width: 1280px;
    margin: 0 auto;
    padding: 0px;
     /* border: 1px solid red; */
}

*{
    text-decoration: none;
    list-style: none;
    margin: 0 ;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.header{
    position: fixed;
    width: 100%;    
    background: #232536;
    padding-top: 11px;
    padding-bottom: 11px;
}
.fa-solid{
    display: none;
}
.header__nav{
        padding: -0px;
        width: 1280px;
        align-items: center;
    }
.header__nav img{
        margin-right:621px;
    }
.header__navigation{
        padding-top: 10px;
        margin-right: 83px;
    }
    .header__navigation ul{
        width: 285px;
        height: 29px;
        padding-left: -0px;
        justify-content: space-between;
    }

    .header__navigation ul li a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }
    .header__navigation ul li a:hover{
        color: rgb(145, 134, 134);
        transition-duration: 1s;
    }
.header__nav-log{
        padding: 16px 48px;
        background: #FFFFFF;
    }
.header__nav-log a{
        font-family: 'Sen';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;   
        display: flex;
        align-items: center;
        color: #232536;
    }
.header__nav-log:hover{
        transition-duration: 1s;
        background-color: rgb(145, 134, 134);
        color: #ffffff;
}


.footer{
    padding-top: 54px;
    padding-bottom: 54px;
    background: #232536;
}
.footer__con{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__left p{
    margin-bottom: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;       
    opacity: 0.7;
}
.footer__right li{
    width: 144px;
}
.footer__right i{
    color: #6D6E76;
     padding-right: 10px;
}
.footer__right i:hover{
    transition-duration: 0.7s;
    color: #FFFFFF;
    opacity: 0.8;
}

.registratsiya{
    padding-top: 128px;
    margin-bottom: 128px;
}
.registratsiya-con{
}
.registratsiya-con h1{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -2px; 
    color: #232536;
    margin-bottom: 68px;
}
.regis-form{
    width: 769px;
    margin: 0 auto;
    margin-bottom: 59px;
}
.regis-form input{
    border: 1px solid rgba(109, 110, 118, 0.5);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232536;  
    padding-left: 15px;
    border-radius: 2px;
    margin-bottom: 15px;
    width: 768px;
    height: 76px;
}
.registratsiya-con a{
    padding: 16px 336px;
    background: #FFD050;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #232536;
    width: 768px;
    margin: 0 auto;
}
